@{
    Layout = null;
}
<html>
<head>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:" />
    <title>Hello React</title>
    <style>
        body {font-family:'Lato','Verdana','Arial'}
        .commentBox {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div id="content"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
    <script src="@Url.Content("~/js/tutorial.jsx")"></script>
</body>
</html>
